<!-- CREATE IMAGE STEP 7-->
          <div class="admin-step">
            <h1>Error Saving OS Image</h1>
            <div class="description">
              <span class="error-message">{{message}}</span>
            </div>
            <div class="row admin-modal-btn-row">
              <div class="col-md-6">
                <div class="cancel-button-md admin-modal-btn" ng-click="closeModal()">Close</div>
              </div>
            </div><!-- .row -->
          </div><!-- /.admin-step -->


