<div class="admin-step">
    <div class="row">
        <div class="col-md-12">
            <h1>{{title_message}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="description">{{description_message}}</div>
        </div>
    </div><!-- .row -->
    <div class="row" style="margin-top: 5rem; margin-bottom: 5rem">
        <span class="waiting-styling" style="width: 8rem;height: 2rem; background: transparent; float: left">
                <div ng-if="!hasError" class="loader"></div>
        </span>
        <div ng-if="!hasError" class="blue-modal-text" style="float: left">{{bar_before_message}}</div>
        <div ng-if="hasError" class="blue-modal-text" style="float: left; color: red">{{bar_before_message}}</div>
    </div>
    <div ng-if="hasError" class="close-admin-modal" ng-click="closeModal()"></div>
</div><!-- /.admin-step -->
