<!-- OS UPGRADE STEP 4-->
<div class="admin-step">
    <h1>Operating System Upgrade</h1>
    <div class="description">Thank you for your purchase of the Intel® IoT Gateway Pro Software Suite.</div>
    <!--<br/>Please do not turn off the gateway. The upgrade is in progress, downloading and installing onto this gateway. This should take less than one hour.-->
    <div class="progress-bar-block">
        <div class="blue-modal-text">Upgrade Complete!</div>
        <div class="progress-bar-iot">
            <div class="progress-bar-indicator" style="width: 100%;"></div>
        </div>
    </div>
    <div class="row admin-modal-btn-row">
        <div class="col-md-12">
            <div class="row">
                <div class="blue-button-md admin-modal-btn center-button" ng-click="closeModal()">Finish</div>
            </div>
            <div style='color:red; text-align: center'>{{error_message}}</div>
        </div>
    </div><!-- .row -->
</div><!-- /.admin-step -->