             <!-- CREATE IMAGE STEP 6-->
          <div class="admin-step">
            <div class="create-img-progress-bar">
              <div class="create-img-step">
                <div class="create-img-step-number">1</div>
                <div class="create-img-step-text">Save OS Image:<br/>Insert USB Flash Drive</div>
              </div>
              <div class="create-img-step">
                <div class="create-img-step-number">2</div>
                <div class="create-img-step-text">Save OS Image:<br/>Select USB Flash Drive</div>
              </div>
              <div class="create-img-step">
                <div class="create-img-step-number">3</div>
                <div class="create-img-step-text">Save OS Image:<br/>Review Configuration</div>
              </div>
              <div class="create-img-step active">
                <div class="create-img-step-number">4</div>
                <div class="create-img-step-text">Save OS Image:<br/>Write OS Image To USB Flash Drive</div>
              </div>
            </div>
            <h1>Save OS Image: Saving OS Image to USB Flash Drive</h1>
            <div class="description">
              Your hardened OS image is being saved to the USB Drive.<br/>This process may take a while.
            </div>
            <div class="col-md-12">
              <div class="writing-image create-image-img"></div>
            </div>
            <div class="progress-bar-block">
              <div class="blue-modal-text">Writing Image to Drive...</div>
              <div class="progress-bar-iot">
                <div class="progress-bar-indicator progress-bar progress-bar-striped active" role="progressbar" style="width: 100%;"></div>
              </div>
            </div>
            <div class="row admin-modal-btn-row">
             <!--  <div class="col-md-6">
                <div class="cancel-button-md admin-modal-btn" ng-click="closeSaveImage()">Cancel</div>
              </div>
              <div class="col-md-6">
                <div class="blue-button-md admin-modal-btn" ng-if="savedImage" ng-click="continueOSImage6()">Continue</div>
              </div> -->
            </div><!-- .row -->
          </div><!-- /.admin-step -->

