        <div class="abs-center no-network">

          <div class="row">
            <div class="col-md-2">
              <!-- No Network Icon -->
              <img src="/images/network-connected-icon.svg">
            </div><!-- /.col-md-4 -->

            <div class="col-md-10">
              <h1>Network Connected!</h1>
              <p>The device is now connected to the internet.</p>
              <p>Let's get started!</p>

              <!-- Nav -->
              <div class="nav-options">
                <div href class="blue-button-md" ng-click="dashboard()">Go to Dashboard</div>
              </div>
            </div><!-- /.col-md-8 -->
          </div><!-- /.row -->

        </div><!-- /.network-connected -->