         <!-- FACTORY RESET OF OS STEP 1-->
          <div class="admin-step">
            <div class="row">
              <div class="col-md-12">
                <h1>Update All Packages?</h1>
              </div>
            </div><!-- /.row -->
            <div class="row">
              <div class="col-md-12 description">
                
              </div>
            </div><!-- .row -->
            <div class="row admin-modal-btn-row">
              <div class="col-md-6">
                <div class="cancel-button-md admin-modal-btn" ng-click="closeModal()" >Cancel</div>
              </div>
              <div class="col-md-6">
                <div class="blue-button-md admin-modal-btn" ng-click="doUpdatePackages()" ng-class="{'disabled': !connected}">Update</div>
              </div>
            </div><!-- .row -->
          </div><!-- /.admin-step -->
