 <!-- CREATE IMAGE STEP 4-->
<div class="admin-step">
    <div class="create-img-progress-bar">
        <div class="create-img-step">
            <div class="create-img-step-number">1</div>
            <div class="create-img-step-text">Save OS Image:<br/>Insert USB Flash Drive</div>
        </div>
        <div class="create-img-step">
            <div class="create-img-step-number">2</div>
            <div class="create-img-step-text">Save OS Image:<br/>Select USB Flash Drive</div>
        </div>
        <div class="create-img-step active">
            <div class="create-img-step-number">3</div>
            <div class="create-img-step-text">Save OS Image:<br/>Review Configuration</div>
        </div>
        <div class="create-img-step">
            <div class="create-img-step-number">4</div>
            <div class="create-img-step-text">Save OS Image:<br/>Write OS Image to USB Flash Drive</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>Standard Security</h1>
        </div>
    </div><!-- /.row -->
    <div class="row password-blocks">
        <div class="col-md-6">
            <div class="modal-interior-box">
                <div class="col-md-10 row">
                    <h1 class="modal-interior-box-h1">Create Administrative Password</h1>
                    <div class="description-sm">After completing this process, 3 OS Accounts (root, gwuser, and wra) will be active on the target device</div>
                    <div class="input-block">
                        <div class="lock-icon"></div>
                        <input type="password" class="form-control" placeholder="Enter new password" ng-model="update_params.new_admin_password">
                    </div>

                    <div class="input-block">
                        <div class="lock-icon"></div>
                        <input type="password" class="form-control" placeholder="Confirm new password" ng-model="update_params.confirm_admin_password">
                    </div>
                    <div class="password-strength-txt">Password Strength:</div>
                    <div ng-password-strength="update_params.confirm_admin_password" strength="passStrength" inner-class="progress-bar" inner-class-prefix="progress-bar-"></div>
                    <div class="password-requirements">Passwords should contain at least 8 characters, include upper and lower case, numerals, and special characters</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="modal-interior-box">
                <div class="col-md-10 row">
                    <h1 class="modal-interior-box-h1">Create McAfee&reg; Embedded Control Administrative Password</h1>

                    <div class="input-block">
                        <div class="lock-icon"></div>
                        <input type="password" class="form-control" placeholder="Enter new password" ng-model="update_params.new_mec_admin_password">
                    </div>
                    <div class="input-block">
                        <div class="lock-icon"></div>
                        <input type="password" class="form-control" placeholder="Confirm new password" ng-model="update_params.confirm_mec_admin_password">
                    </div>
                    <div class="password-strength-txt">Password Strength:</div>
                    <div ng-password-strength="update_params.confirm_mec_admin_password" strength="passStrength2" inner-class="progress-bar" inner-class-prefix="progress-bar-"></div>
                    <div class="password-requirements">Passwords should contain at least 8 characters, include upper and lower case, numerals, and special characters</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div><!-- .row -->
    <div class="row">
        <span class="error-message">
            {{error_message}}
        </span>
    </div>
    <div class="row admin-modal-btn-row">
        <div class="col-md-6">
            <div class="cancel-button-md admin-modal-btn" ng-click="closeOSImageModal3_Standard()">Cancel</div>
        </div>
        <div class="col-md-6">
            <div class="blue-button-md admin-modal-btn" ng-click="continueOSImage4_FromStandard()" ng-class="{disabled: !connected}">Continue</div>
        </div>
    </div><!-- .row -->
</div><!-- /.admin-step -->