 
          <div class="admin-step">
            <div class="row">
              <div class="col-md-12">
                <h1>Install Untrusted Package {{untrusted.name}}?</h1>
              </div>
            </div><!-- /.row -->

            <div class="row">
              <div class="blue-modal-text">{{message}}</div>
              
            
            </div>
            <div class="row">
            		<button class="btn btn-primary" ng-click="closeModal()">No</button>
            		<button class="btn btn-info" ng-click="trustToInstall()">Yes</button>
            </div>
        </div>
          </div><!-- /.admin-step -->
