<div class="admin-step">
	<div class="col-md-12">
		<h1>Change Password</h1>
	</div>
	<div class="close-admin-modal" ng-click="closeModal()"></div>
		<div class="col-md-6 description">
		Enter the user name and current password of the account to be updated, then enter new password.
			<br/>
			<br/>
			<div class="password-requirements">Note: Passwords should contain at least 8 characters, include upper and lower case, numerals, and special characters</div>
		</div>
		
		<div class="row password-blocks">
	    <div class="col-md-6">
	      <div class="modal-interior-box">
	        <div class="input-block">
	          <div class="user-icon"></div>
	           <input type="text" class="form-control" placeholder="Username" ng-model="update.username"><!-- the existing username -->
	        </div>
	        <div class="input-block">
	          <div class="lock-icon"></div>
	           <input type="password" class="form-control" placeholder="Current Password" ng-model="update.password"><!-- the existing password -->
	        </div>
	        <br/>
	        <div class="input-block">
	          <div class="lock-icon"></div>
	           <input type="password" class="form-control" placeholder="Enter New Password" ng-model="update.newpassword"><!-- the new password -->
	        </div>
	        <div class="input-block">
	          <div class="lock-icon"></div>
	           <input type="password" class="form-control" placeholder="Confirm New Password" type="password" ng-model="update.confirmnewpassword">
	        </div>
	        <div class="error-message" ng-if="error_message">{{error_message}}</div>
	        <div class="password-strength-txt">Password Strength:</div>
	        
	        <div ng-password-strength="update.newpassword" strength="passStrength" inner-class="progress-bar" inner-class-prefix="progress-bar-"></div><!-- the new password,repeated -->
	      </div>
	    </div>
		</div><!-- .row -->
	<div class="row admin-modal-btn-row">
	  <div class="col-md-6">
	    <div class="cancel-button-md admin-modal-btn" ng-click="closeModal()">Cancel</div>
	  </div>
	  <div class="col-md-6">
	    <div class="blue-button-md admin-modal-btn" ng-click="changePassword()">Update</div>
	  </div>
	</div><!-- .row -->
</div><!-- /.admin-step -->


<!-- <div style='color: black;'>
	<button ng-click="closeModal()">Close/Cancel</button> -->

<!-- <h1>Change Password</h1>
username: <input type="text" ng-model="update.username"><br>
password (existing): <input type="password" ng-model="update.password"><br>
new password: <input type="password" ng-model="update.newpassword"><br>
confirm new password: <input type="password" ng-model="update.confirmnewpassword"><br>


<div style='color: red;' class='error_message' ng-if="error_message">{{error_message}}</div>

<button ng-click="changePassword()">Change Password</button>
</div> -->

