       <!-- OS UPGRADE STEP 4-->
          <div class="admin-step">
            <h1>Operating System Upgrade</h1>
            <div class="description">
</div>
            <div class="progress-bar-block">
              <div class="blue-modal-text">Upgrade Failed</div>
              <div>
                {{error_message}}
              </div>
            </div>
            <div class="row admin-modal-btn-row">
              <div class="col-md-6">
                <div class="cancel-button-md admin-modal-btn" ng-click="closeModal()">Close</div>
              </div>
            </div><!-- .row -->
          </div><!-- /.admin-step -->