

              <!-- 'First Time Setting Up Sensor' screen -->
              <div class="admin-step">
                <div class="close-admin-modal" ng-click="closeModal()"></div>
                <div class="row">
                  <div class="col-md-12">
                    <h1>First Time Setting Up a Sensor?</h1>
                  </div>
                </div><!-- /.row -->
                <div class="row">
                  <div class="col-md-12">
                    <p>See the tutorial to learn how to connect a sensor to the gateway, use Node-Red to automatically read temperature, and easily edit a sample Node-Red application to also read humidity.</p>
                    <label><input type="checkbox" ng-model="noreshow"> Don't show me this again</label>
                  </div>
                </div><!-- .row -->
            
                <div class="row admin-modal-btn-row">
                  <div class="col-md-2">
                    <span class="cancel-button-md admin-modal-btn" ng-click="closeModal()">No Thanks</span>
                  </div>
                  <div class="col-md-10 ">
                    <div class="blue-button-md" style="margin-right: 1rem;" ng-click="viewVideo()">Watch Video</div>
                    <div class="blue-button-md" ng-click="viewTutorial()">View the Tutorial</div>
                  </div>
                </div><!-- .row -->
              </div><!-- /.view-package -->
            