<div class="tutorial-page">
    <!-- Header -->
    <div class="container">
      <div class="row header">
        <div class="col-sm-12">
          <h1>Learn to use Wind River&reg; Helix&trade; App Cloud</h1>
        </div>
      </div><!-- /.row .header -->
    </div><!-- /.container -->
    <!-- Section Title -->
    <div class="container">
      <div class="row section-title">
        <div class="col-sm-12">
          <h2>Overview</h2>
        </div>
      </div><!-- /.row .header -->
    </div><!-- /.container -->
    <!-- Section Body -->
    <div class="container">
      <div class="row section-body">
        <div class="col-sm-12">
            <div class="col-sm-6">
          <h3>Connecting gateway to HAC</h3>
          <p>Helix App Cloud provides an eloquent way to develop applications against the gateway from the cloud.  It creates a connection between the gateway and the cloud so you can seamlessly develop, execute and debug code on the gateway from the cloud.</p>
       </div>
        <div class="col-sm-3"> <h3>Why?</h3>
          <p>Demonstrate how-to connect the Intel IoT gateway to the Helix App Cloud.  From there sample code will be available to test.</p>
       </div>
        <div class="col-sm-3"> <h3>Prepare</h3>
          <p>A)	Gateway is connected to Internet<br/>
B) You must have an email address to register for Helix App Cloud</p>
        </div>
      </div><!-- /.row .header -->
    </div><!-- /.container -->
    <!-- Section Title -->
    <div class="container">
      <div class="row section-title">
        <div class="col-sm-12">
          <h2>Part 1 of 2:  Register for Helix App Cloud</h2>
        </div>
      </div><!-- /.row .header -->
    </div><!-- /.container -->
    <!-- Section Step -->
    <div class="container">
      <div class="row section-step">
        <div class="col-sm-1">
          <h3>Step 1</h3>
        </div>
        <div class="col-sm-2">
          <p>Launch Helix App Cloud</p>
        </div>
        <div class="col-sm-9">
          <p>From the administration section of the Intel® IoT Gateway Developer Hub, click the Launch button under the Helix App Cloud Icon</p>
          <img src="/images/tutorials/helixapp_step1_1a.png" style="width: 13.6rem;">
        </div>
      </div><!-- /.row .header -->
    </div><!-- /.container -->
    <!-- Section Step -->
    <div class="container">
      <div class="row section-step">
        <div class="col-sm-1">
          <h3>Step 2</h3>
        </div>
        <div class="col-sm-2">
          <p>Copy Registration Code</p>
        </div>
        <div class="col-sm-9">
          <p>Copy the Unique ID that is provided into your clipboard (ctrl + c).  This Unique ID is used to associate your gateway with the Helix App Cloud service.  It will be used after you sign-up, and log back in to verify your email.</p>
          <img src="/images/tutorials/helixapp_step1_2a.png">
        </div>
      </div><!-- /.row .header -->
    </div><!-- /.container -->
    <!-- Section Step -->
    <div class="container">
      <div class="row section-step">
        <div class="col-sm-1">
          <h3>Step 3</h3>
        </div>
        <div class="col-sm-2">
          <p>Register and Verify an HAC Account</p>
        </div>
        <div class="col-sm-9">
          <p>Follow the registration steps on Helix App Cloud (if you do not already have an account).  If you already have an account, skip this step.</p>
          <p>It is important that you verify your email within 20 minutes of copying the code, as it will expire.  Please verify your email account at this point.</p>
        </div>
      </div><!-- /.row .header -->
    </div><!-- /.container -->
    <!-- Section Step -->
    <div class="container">
      <div class="row section-step last">
        <div class="col-sm-1">
          <h3>Step 4</h3>
        </div>
        <div class="col-sm-2">
          <p>Add New Device</p>
        </div>
        <div class="col-sm-9">
          <p>In Helix App Cloud, click New Device in the top right corner to add a new device.</p>
          <img src="/images/tutorials/helixapp_step1_4a.png">
          <p>Click Register an existing device using its unique ID</p>
          <img src="/images/tutorials/helixapp_step1_4b.png">
          <p>Paste in the <strong>Unique ID</strong>. (previously copied into clipboard)<br/>  
          Enter a device name, then click Register Device.</p>
          <img src="/images/tutorials/helixapp_step1_4c.png">
        </div>
      </div><!-- /.row .header -->
    </div><!-- /.container -->
        <!-- Section Title -->
    <div class="container">
      <div class="row section-title">
        <div class="col-sm-12">
          <h2>Part 2 of 2:  Create a Sample Application</h2>
        </div>
      </div><!-- /.row .header -->
    </div><!-- /.container -->
    <!-- Section Step -->
    <div class="container">
      <div class="row section-step">
        <div class="col-sm-1">
          <h3>Step 1</h3>
        </div>
        <div class="col-sm-2">
          <p>Create New project</p>
        </div>
        <div class="col-sm-9">
          <p>Once your gateway is registered you will be able to create a new project.
          Click, <strong>Create new project</strong>.</p>
          <img src="/images/tutorials/helixapp_step2_1a.png">
        </div>
      </div><!-- /.row .header -->
    </div><!-- /.container -->
    <!-- Section Step -->
    <div class="container">
      <div class="row section-step">
        <div class="col-sm-1">
          <h3>Step 2</h3>
        </div>
        <div class="col-sm-2">
          <p>Choose the project template and name the project</p>
        </div>
        <div class="col-sm-9">
          <p>Select the <strong>JavaScript Hello World</strong> project template
          Name the project HelloWorld.
          </p>
          <img src="/images/tutorials/helixapp_step2_2a.png">
        </div>
      </div><!-- /.row .header -->
    </div><!-- /.container -->
    <!-- Section Step -->
    <div class="container">
      <div class="row section-step">
        <div class="col-sm-1">
          <h3>Step 3</h3>
        </div>
        <div class="col-sm-2">
          <p>Open the Project</p>
        </div>
        <div class="col-sm-9">
          <p>Click Open on the new project that was created.</p>
          <img src="/images/tutorials/helixapp_step2_3a.png">
          <p>When the IDE opens, click the hello.js file from the workspace pane</p>
          <img src="/images/tutorials/helixapp_step2_3b.png">
          <p>Click <strong>Run</strong> to execute the JavaScript on the gateway.</p>
          <img src="/images/tutorials/helixapp_step2_3c.png">
        </div>
      </div><!-- /.row .header -->
    </div><!-- /.container -->
    <!-- Section Step -->
    <div class="container">
      <div class="row section-step last">
        <div class="col-sm-1">
          <h3>Step 4</h3>
        </div>
        <div class="col-sm-2">
          <p>View the Console Output</p>
        </div>
        <div class="col-sm-9">
          <p>View the console output at the bottom of the screen.  
            Note how the process was started and run on the gateway and you can see the Hello World output.</p>
          <img src="/images/tutorials/helixapp_step2_4a.png">
          <p>Edit the script to log (print) different values and verify you can see the console output below.</p>
        </div>
      </div><!-- /.row .header -->
    </div><!-- /.container -->
</div><!-- /.tutorial-page -->