        <div class="abs-center privacy-statement"> 
          <div class="row">
            <div class="col-md-12">
              <h1>Privacy Statement</h1>
              <span>This device is currently operating in demonstration mode.</span>
              <p>Data collected using demonstration mode may be visible to others and should not be used to collect sensitive, confidential, or personal information.  To secure this device and the data collected, any information you must follow the Security Best Practices in the documentation section of the Intel® IoT Gateway Developer Hub in this interface.</p>
              <!-- Nav -->
              <div class="nav-options">
                <div class="blue-button-md" ng-click="continueToLogin()">Continue</div>
              </div>
            </div><!-- /.col-md-8 -->
          </div><!-- /.row -->
        </div><!-- /.network-connected -->
