    <div class="container-fluid">
      <div class="row header login-background">
        <div class="col-sm-12">
          <div class="branding">
            <!-- Product Name -->
            <img src="images/intel-logo.svg" class="header-logo">
            <h1>IoT Gateway Developer Hub</h1>
          </div><!-- /.branding -->

          <div class="menu">
            <!-- Logo -->
            
          </div><!-- /.menu -->

        </div><!-- /.col-sm-12 -->
      </div><!-- /.row .header-->
    </div><!-- /.container -->

    <ui-view></ui-view>
